{% extends 'blog/base.html'%}
{% load static %}
{% block content%}
<!-- Page Header -->
<header class="masthead" style="height:100px;background-image: url('{%static 'blog/img/home-bg.jpg'%}')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
<!--       <div class="site-heading">
        <img style="height: 120px; width: 120px;" src="{% static 'blog/img/120px.png'%}">
        <h1>Tech Rant</h1>    
        <span class="subheading">Screaming about technology daily</span>
      </div>
 -->    </div>
  </div>
</div>
</header>
<div class="contact-form container">
	<h2>Add Blog Post</h2>
		<form enctype="multipart/form-data">
				{% csrf_token %}
			<div class="form-group">
			  <label for="email">Title:</label>
			  <input required type="text" class="form-control" id="email" placeholder="Enter title" name="title">
			</div>
			<div class="form-group">
			  <label for="x">Subtitle:</label>
			  <input required type="text" class="form-control" id="x" placeholder="Enter Subtitle" name="subtitle">
			</div>
			<div class="form-group">
			  <label for="y">Content:</label>
			  <input disabled="true" type="text" class="form-control" id="y" value =" " placeholder="Enter the content below. Press + for editing options" name="content">
			</div>
			<div id="editorjs"></div>
			<div id="draft"></div>
			<button type="submit" class="btn btn-primary">Save Post</button>
		</form> 
<p id="data"></p>
</div>
<script src="{% static 'blog/create/editor.js'%}"></script>
<script src="{% static 'blog/create/header.js'%}"></script>
<script src="{% static 'blog/create/paragraph.js'%}"></script>
<script src="{% static 'blog/create/simpleImage.js'%}"></script>
<script src="{% static 'blog/create/embed.js'%}"></script>
<script src="{% static 'blog/create/delimeter.js'%}"></script>
<script src="{% static 'blog/create/raw.js'%}"></script>
<script src="{% static 'blog/create/edjsParser.js'%}"></script>
<script src="{% static 'blog/create/index.js'%}"></script>
{% endblock %}