{% extends 'blog/base.html'%}
{% load static %}
{% block content%}
<!-- Page Header -->
<header class="masthead" style="height:100px;background-image: url('https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=649&q=80)">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
<!--       <div class="site-heading">
        <img style="height: 120px; width: 120px;" src="{% static 'blog/img/120px.png'%}">
        <h1>Tech Rant</h1>    
        <span class="subheading">Screaming about technology daily</span>
      </div>
 -->    </div>
  </div>
</div>
</header>
<div class="container" id="contact_form">
	<h2>Add Blog Post</h2>
  <p class="text-secondary text-center small">After you save your super awesome blog post, it will be reviewed by the team at Tech Rant and it will be published if it meets our standards. Thank you for writing with Tech Rant</p>
  <form name="contact" action="{% url 'blog:create'%}" method="post" enctype="multipart/form-data">
  	{% csrf_token %}
    <fieldset>
      <div class="form-group">
      <label for="name">Title</label>
      <input type="text" name="title" id="name" minlength="3" placeholder="Enter title" class="form-control" required/>
      </div>
       
      <div class="form-group">
      <label for="email" id="email_label">Subtitle</label>
      <input required type="text" name="subtitle" id="email" placeholder="Enter Subtitle" class="form-control"/>
      </div>
      
      <div class="form-group">
      <label for="image" id="phone_label">Post Header Image</label>
      <input required type="text" name="image" id="img" placeholder="Enter the link to your image" class="form-control"/>
      </div>

      <div class="form-group">
      <label for="phone" id="phone_label">Content</label>
	      <div id="editorjs"></div>
      <input hidden type="text" name="content" id="y" class="form-control" placeholder="Enter the content below &darr; Hit the &plus; for more editing options"/>
      </div>
		<div id="draft"></div>
		<button type="submit" onclick="myFunction();" class="btn btn-primary">Save Post</button>
    </fieldset>
  </form>
</div>
<script src="{% static 'blog/create/editor.js'%}"></script>
<script src="{% static 'blog/create/header.js'%}"></script>
<script src="{% static 'blog/create/paragraph.js'%}"></script>
<script src="{% static 'blog/create/simpleImage.js'%}"></script>
<script src="{% static 'blog/create/embed.js'%}"></script>
<script src="{% static 'blog/create/delimeter.js'%}"></script>
<script src="{% static 'blog/create/raw.js'%}"></script>
<script src="{% static 'blog/create/edjsParser.js'%}"></script>
<script type="text/javascript">

const editor = new EditorJS({
    holder: 'editorjs',
/** 
     * Available Tools list. 
     * Pass Tool's class or Settings object for each Tool you want to use 
     */
   tools:{
      raw:RawTool,
       header:Header,
       delimiter: Delimiter,
       paragraph: {
        class: Paragraph,
        inlineToolbar: true,
      },
      embed: Embed,
      image: SimpleImage,
   }
}
);

function myFunction(){
  editor.save().then((output)=>{
    console.log('Data: ',output);
    var json_me = JSON.stringify(output);
    // document.getElementById("data").innerHTML = json_me;
    // send the string to the server\0
    var content = document.getElementById("y");
    content.value = json_me;
    // document.getElementById("data").innerHTML = content.value;
    return true
  }).catch((error)=>{
  console.log('Saving failed:',error)
  });
}
</script>
{% endblock %}
