{%extends "blog/base.html"%}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.image}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 >{{post.title}}</h1>
            <p class="small">{{post.subtitle}}</p>
            <p class="small">Posted by
              <a class="text-white" href="#">{{post.author.username}}</a>
              on {{ post.date_posted|date:"F d, Y" }}</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% if post.publish %}<p hidden></p>{%else%}<p class="small text-danger">This post is not officially published by <a href="{% url 'blog:blog_home'%}">Tech Rant</a>. It is just a draft.</p>{% endif %}
          <div style="font-size: 20px;" id="thecontent">
            <p hidden id="json">{{post.content}}</p>
          </div>
          <hr>
          <div class="container">
            <h3 id="commentstart">Comments</h3>
            <p id="demo1"></p>
            <form method="post" class="example" action="{%url 'blog:comment' post.id%}">
              {% csrf_token %}
              <input id="comment-input" onfocus="check();" type="text" placeholder="Add Comment" name="comment">
              <button id="frm-btn" type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
            {% for comment in comments%}
              <div class="container20">
                <span style="font-size: 13px;" class="text-primary"><strong>{{comment.author.username}}</strong></span>
                <span style="font-size: 13px;"> {{comment.date_posted}}</span><hr>
                <p class="small">{{comment.content}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </article>
  <hr>
  <script type="text/javascript">
    function check(){
      var is_authenticated = {%if user.is_authenticated%}1{% else %}0{%endif%};
      var msg = document.getElementById("demo1");
      if(is_authenticated)
      {
        msg.className = "small text-center text-success";
        msg.innerHTML = "You're logged in! <li class=\"fa fa-check-circle\"></li>";
      }
      else
      {
        msg.className = "small text-center text-danger";
        msg.innerHTML = "Please login to be able to comment! <li class=\"fas fa-frown\"></li> <a href=\"{%url 'login' %}?next=/detail/{{post.id}}#commentstart\">Log In</a>";
        document.getElementById("comment-input").disabled = true;
        document.getElementById("frm-btn").disabled = true;
      }
    }
  </script>
<script src="{% static 'blog/create/edjsParser.js'%}"></script>
<script type="text/javascript">
const customParsers = {
  raw: function(data, config){
    var raw_markup = "<textarea class=\"code_textbox\" disabled>"+data.html;
    return raw_markup;
  },
}
var json_me = document.getElementById("json").innerHTML;
var obj = JSON.parse(json_me);
const parser = new edjsParser(undefined,customParsers);
const markup = parser.parse(obj);
document.getElementById('thecontent').innerHTML = markup;
</script>
{% endblock %}