{% extends "blog/base.html" %}
{%load static%}
{% block content%}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1542&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <img style="height: 120px; width: 120px;" src="{% static 'blog/img/120px.png'%}">
            <h1>Tech Rant</h1>    
            <span class="small subheading">Screaming about technology daily</span>
          </div>
        </div>
      </div>
    </div>
  </header>

 <!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    	{% for post in posts%}
      <div class="post-preview">
        <a href="{% url 'blog:post_detail' post.id%}">
          <h4 class="post-title">
            {{post.title}}
          </h4>
          <p class="small post-subtitle">
            {{post.subtitle}}
          </p>
        </a>
        <p class="small post-meta">Posted by
          <a href="#">{{post.author.username}}</a>
          on {{ post.date_posted|date:"F d, Y" }}</p>
      </div>
      <hr>
      {%endfor%}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{% url 'blog:all'%}">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

  <hr>
{% endblock%}